    
    <section class='bg-secondary bg-gradient bg-opacity-10 p-3' style="height:97vh">
      <div class='bg-white shadow mt-5 p-3 mb-5 container'>
        <div class='mx-auto p-3'>
          <div class='row'>
            <div class='col col-lg-8'>
              <div class='card-body mt-3 p-5'>
                <h5 class='card-title fw-bold'>
                  Hi Welcome to My Hut With Rails!
                </h5>
                <p
                  class='card-text mt-4 text-break'
                  style='text-align: justify'
                >
                  Lorem ipsum dolor sit amet, consectetur adipisicing
                  elit. Repellat nisi assumenda veniam odio mollitia
                  soluta id. Harum veniam consectetur minus iste eos
                  possimus reprehenderit fuga, doloremque quas sint,
                  illo assumenda officia placeat dolorem omnis eius
                  autem. Deserunt, vitae maxime vel corrupti
                  molestiae, dolores, sit eveniet totam maiores ex
                  voluptates reprehenderit doloremque. Exercitationem
                  corrupti repudiandae suscipit quia inventore,
                  accusantium ad nisi beatae? Molestiae commodi,
                  aperiam ducimus nostrum mollitia sed perferendis
                  odit quas, quis porro eligendi corporis voluptatum
                  asperiores. Adipisci, quos ipsum.
                </p>
                <p class='mt-4'>
                  <a href='/contact-me'>
                    <button
                      type='button'
                      class='btn btn-dark rounded-5 ContactMe'
                    >
                      Contact
                    </button>
                  </a>
                  <span
                    class='d-inline-block align-middle ms-3'
                  >Download CV</span>
                  <a
                    href='https://drive.google.com/file/d/1760LwUkjHGlgzEkGrEJB1vhGkpl6Uk1b/view?usp=sharing'
                    target='_blank'
                    style='color: inherit'
                  ><i class='fa-solid fa-arrow-down ms-3'></i>
                  </a>
                </p>
                <p class='mt-5'>
                  <a
                    href='https://www.linkedin.com/in/fakhri-ramadhan-a6903b204/'
                    target='_blank'
                    style='color: inherit'
                  >
                    <span
                      class='fa-stack fa-lg'
                      style='display: inline-block'
                    >
                      <i class='fas fa-circle fa-stack-2x'></i>
                      <i
                        class='fab fa-linkedin-in fa-stack-1x fa-inverse'
                      ></i>
                    </span>
                  </a>
                  <a
                    href='https://github.com/fakhriR233'
                    target='_blank'
                    style='color: inherit'
                  >
                    <span
                      class='fa-stack fa-lg'
                      style='display: inline-block'
                    >
                      <i class='fas fa-circle fa-stack-2x'></i>
                      <i
                        class='fab fa-github fa-stack-1x fa-inverse'
                      ></i>
                    </span>
                  </a>
                  <a
                    href='https://alphaniner.artstation.com/'
                    target='_blank'
                    style='color: inherit'
                  >
                    <span
                      class='fa-stack fa-lg'
                      style='display: inline-block'
                    >
                      <i class='fas fa-circle fa-stack-2x'></i>
                      <i
                        class='fab fa-artstation fa-stack-1x fa-inverse'
                      ></i>
                    </span>
                  </a>
                  <a
                    href='https://www.youtube.com/channel/UCnspV9fvslmKnyuPVrIXAog'
                    target='_blank'
                    style='color: inherit'
                  >
                    <span
                      class='fa-stack fa-lg'
                      style='display: inline-block'
                    >
                      <i class='fas fa-circle fa-stack-2x'></i>
                      <i
                        class='fab fa-youtube fa-stack-1x fa-inverse'
                      ></i>
                    </span>
                  </a>
                  <a
                    href='https://twitter.com/kobokanaeru'
                    target='_blank'
                    style='color: inherit'
                  >
                    <span
                      class='fa-stack fa-lg'
                      style='display: inline-block'
                    >
                      <i class='fas fa-circle fa-stack-2x'></i>
                      <i
                        class='fab fa-twitter fa-stack-1x fa-inverse'
                      ></i>
                    </span>
                  </a>
                </p>
              </div>
            </div>
            <div class='col col-lg-4'>
              <div
                class='card shadow p-2 mb-4 bg-body'
                style='width: 100%'
              >
                <%= image_tag("Kobo_Kanaeru",alt:'Warga Anime', class:"card-img") %>
                <div class='card-body'>
                  <h5 class='card-title text-center'>
                    Full Stack Developer
                  </h5>
                  <p class='card-text text-center'>
                    Mohamad Fakhri Ramadhan
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
